<small><button (click)="toggleComments()" > Comment
   </button>
  </small>
  <div *ngIf="commentFlag==true">
<div class="detailBox">
    <div class="actionBox" >


          <div class="CommentsList" *ngFor='let com of CommentListofReview | keyvalue'>
                     <div class="loop" *ngFor='let lc of com.value | keyvalue'>
                             <div class="kk" *ngFor='let ll of lc.value | keyvalue'>
                               flag
                               <div class="container">
                                 <div class="row">
                                <div class=" col-md-4">
                               <div class="commenterImage"  *ngIf=" ll.key == 'image_link'" >
                                         <!--   <img [src]='ll.value'/>-->
                                           <img src='https://vignette.wikia.nocookie.net/hunter-x-hunter-fanon/images/a/a9/BABC6A23-98EF-498E-9D0E-3EBFC7ED8626.jpeg/revision/latest?cb=20170930221652' />

                                     </div>
                                     </div>
                                <div class=" col-md-6">
                                  <div class="userName" *ngIf=" ll.key == 'username'">
                                    {{ll.value}}
                                  </div>
                               <div class="commentText" *ngIf=" ll.key == 'body' ">
                                          {{ll.value}}
                                      </div>
                                </div>
                                <div class=" col-md-4">
                                <div class="delete" *ngIf="ll.key =='have_the_comment'">
                                  <div class="deletebtn" *ngIf="ll.value =='Yes'" >
                                    <div class="millionthloop" *ngFor='let id of lc.value | keyvalue'>
                                                             <div class="millionthif" *ngIf="id.key =='id'"  >

                                                     <small> <button id="btn" class="btn btn-light" (click)="deleteComment(id.value)">x</button>
                                                     </small>      </div>

                                            </div>
                                          </div>
                                </div>
                                </div>
                                <hr>

                                </div>


          </div>
         </div>





          </div>

</div>
        </div>
        <form [formGroup]="CommentForm" class="form-inline" role="form">
            <div class="form-group">
                <input class="form-control" type="text" formControlName="content" placeholder="Write a comment.." />
            </div>
            <div class="form-group">
                <button class="btn btn-default" [disabled]="CommentForm.invalid" (click)="onSubmit()" >Add</button>
            </div>
        </form>
    </div>
</div>

