<small><button class="btn btn-link" (click)="toggleComments()" > comments
   </button>
  </small>
  <div *ngIf="commentFlag==true">
<div class="detailBox">
    <div class="actionBox"  >
      <div class="CommenList" *ngFor='let i of CommentListofReview | keyvalue ' >
        <ng-container *ngIf="i?.value?.length">
        <div class="loop" *ngFor='let com of i.value' >
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <div class="commenterImage">
                   <div class="userRoute" *ngIf='com.have_the_comment == "Yes"'>
                      <a [routerLink]="['/profile']">
                         <img src='https://vignette.wikia.nocookie.net/hunter-x-hunter-fanon/images/a/a9/BABC6A23-98EF-498E-9D0E-3EBFC7ED8626.jpeg/revision/latest?cb=20170930221652' />
                    </a>
                  </div>
                  <div class="userRoute" *ngIf='com.have_the_comment == "No"'>
                      <a [routerLink]="['/profile', com.user_id]">   <img src='https://vignette.wikia.nocookie.net/hunter-x-hunter-fanon/images/a/a9/BABC6A23-98EF-498E-9D0E-3EBFC7ED8626.jpeg/revision/latest?cb=20170930221652' /></a>
                    </div>
             </div>
          </div>
            <div class="col-md-6" >
             <div class="userRoute" *ngIf='com.have_the_comment == "Yes"'>
          <a [routerLink]="['/profile']">  <b> {{ com.username }} </b></a>
           </div>
           <div class="userRoute" *ngIf='com.have_the_comment == "No"'>
              <a [routerLink]="['/profile', com.user_id]">  <b> {{ com.username }} </b></a>
               </div>
            <br>
                {{ com.body }} <br>
              <small color="#a2a6ad" > created at: {{com.created_at}}</small>
            </div>
            <div class="col-md-2" *ngIf='com.have_the_comment == "Yes" '>
               <button  class="button button2" (click)="deleteComment(com.id)">  x  </button>

            </div>
          </div>
        </div>
         <hr>
     </div>
</ng-container>
      </div>
        </div>
        <form [formGroup]="CommentForm" class="form-inline" role="form">
            <div class="form-group">
                <input class="form-control" type="text" formControlName="content" placeholder="Write a comment.." />
            </div>
            <div class="form-group">
                <button id="submitbtn" class="btn btn-default" [disabled]="CommentForm.invalid" (click)="onSubmit()" >Add</button>
            </div>
        </form>
    </div>
</div>

