 /* CTA CSS */
 .cta-padding35 {
  padding: 35px 0 35px;
  background-color: #b40028;
  color:#fff;
}
/* Buttons */
.site-btn {
  font-size: 14px;
  padding: 13px 30px;
  border-radius: 5px;
  border: 1px solid #b40028 ;
  min-width: 200px;
  display: inline-block;
  text-align: center;
  position: relative;
  z-index: 1;
  color: #b40028 ;
  background-color:transparent;
  transition: all .25s ease-in-out;
  margin: 10px 0px 10px 0px;
  
}
.site-btn:hover {
  background: #b40028 ;
  border: 1px solid #fff;
  font-weight:700px;
  
  
}

/* Footer */
.footer {
  position: relative;
  background-color: #fff;
  color: #707070;
  padding: 55px 0 40px;
}
.footer h5 {
  font-size: 18px;
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;
  color: #707070;
  position: relative;
  padding-bottom: 16px;
}
.footer h5:after {
  content: '';
  display: block;
  margin: 5px 0 0;
  width: 40%;
  height: 1px;
  background-color: #fff;
}
.footer ul {
  list-style: none;
  line-height: 2.2em;
  padding-left:0px;
}
.footer ul a {
  color:#707070;;
}
.footer ul a:hover {
  color:#274abb;;
  text-decoration:none;
}
/*footer bottom */
.footer-bottom {
  padding-top: 5px;
  padding-bottom: 15px;
  border-top: 1px solid rgba(0,0,0,0.09);
  background: #fff;
  
}
.copyright-text p {
  color: #707070;
  margin-top: 18px;
  margin-bottom: 0;
  font-size:12px;
}


.team-content {
  padding: 0px 15px 15px 15px;
}
.border-team {
  border-bottom:1px solid #e2e2e2;
  margin-bottom:10px;
}
.team-img:hover {
  background:#f5f5f5;
  
}

/* Social Icons */

.social-icons{
  
  margin: 0;
  padding: 0;
  font-size : 5px;
}
.social {
  margin:7px 7px 7px 0px;
  color:#232323;
}


#social-fb:hover {
   color: #3B5998;
   transition:all .25s;
}

#social-em:hover {
   color: #f39c12;
   transition:all .25s;
}


/* Site Heading */
.site-heading h3{
  font-size : 40px;
  margin-bottom: 15px;
  font-weight: 600;
}
.border {
  background: #e1e1e1;
  height: 1px;
  width: 25%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 45px;
}
.borderleft
{
    height: 1px;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  
}

.paddingTB60 {
  padding-top:60px;
  padding-bottom:60px;
}

 .image-aboutus-banner {
  background: linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.4)), url("https://s.gr-assets.com/assets/about/headerImages/About-Carousel-3-735e3eb6fd44644fc310139d9e2ebbed.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: #fff;
  padding-top: 110px;
  padding-bottom:110px;
}

.image-aboutus-sm-banner {
  background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url("https://images.pexels.com/photos/631008/pexels-photo-631008.jpeg?w=940&h=650&auto=compress&cs=tinysrgb");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: #fff;
  padding-top: 30px;
  padding-bottom:30px;
}
.lg-text {
  font-size:52px;
  font-weight: 600;
  text-transform: none;
  color:#fff;
}
.image-aboutus-para {
  color:#fff;
  font-size:25px;
}


/* font CSS */
body {
  font-family: 'Roboto';
  line-height: 24px;
  letter-spacing: 0.5px;
  font-weight: 400;
  font-style: normal;
  color: #494949;
  font-size: 16px;
}

a:hover {
  color: #465cff;
}

h1 {
  font-size: 35px;
  line-height: 40px;
  letter-spacing: 0px;
  font-weight: 600;
  color: #000;
}
h2 {
  font-size: 30px;
  line-height: 40px;
  letter-spacing: 0px;
  font-weight: 600;
  color: #000;
}

h3 {
  line-height: 26px;
  font-size: 20px;
  letter-spacing: 0px;
  font-weight: 600;
  font-style: normal;
  color: #000;
  text-align: center;
}

.teamleader
{
  position: relative;
  line-height: 26px;
  font-size: 23px;
  letter-spacing: 0px;
  font-weight: 600;
  font-style: normal;
  color: #000;
  margin-bottom: 5%;
  margin-top: 5%;
}
.teammembername{
  font-size: 20px;
}
.img
{
  height: 1px;}
.description
{
  font-size: 15px;
}




.card-box {
  padding: 20px;
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.06), 0 2px 0 0 rgba(0, 0, 0, 0.02);
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  background-clip: padding-box;
  margin-bottom: 20px;
  background-color: #ffffff;
}
.header-title {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0.04em;
  line-height: 16px;
  margin-bottom: 8px;
}
.social-links li a {
  -webkit-border-radius: 50%;
  background: #EFF0F4;
  border-radius: 50%;
  color: #7A7676;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  text-align: center;
  width: 30px;
}

/* ===========
   Gallery
 =============*/
.portfolioFilter a {
  -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s ease-out;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
  color: #333333;
  padding: 5px 10px;
  display: inline-block;
  transition: all 0.3s ease-out;
}
.portfolioFilter a:hover {
  background-color: #228bdf;
  color: #ffffff;
}
.portfolioFilter a.current {
  background-color: #228bdf;
  color: #ffffff;
}
.thumb {
  background-color: #ffffff;
  border-radius: 3px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  margin-top: 30px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  width: 100%;
}
.thumb-img {
  border-radius: 2px;
  overflow: hidden;
  width: 100%;
}
.gal-detail h4 {
  margin: 16px auto 10px auto;
  width: 80%;
  white-space: nowrap;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}
.gal-detail .ga-border {
  height: 3px;
  width: 40px;
  background-color: #228bdf;
  margin: 10px auto;
}




.tabs-vertical-env .tab-content {
  background: #ffffff;
  display: table-cell;
  margin-bottom: 30px;
  padding: 30px;
  vertical-align: top;
}
.tabs-vertical-env .nav.tabs-vertical {
  display: table-cell;
  min-width: 120px;
  vertical-align: top;
  width: 150px;
}
.tabs-vertical-env .nav.tabs-vertical li.active > a {
  background-color: #ffffff;
  border: 0;
}
.tabs-vertical-env .nav.tabs-vertical li > a {
  color: #333333;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  white-space: nowrap;
}
.nav.nav-tabs > li.active > a {
  background-color: #ffffff;
  border: 0;
}
.nav.nav-tabs > li > a {
  background-color: transparent;
  border-radius: 0;
  border: none;
  color: #333333 !important;
  cursor: pointer;
  line-height: 50px;
  font-weight: 500;
  padding-left: 20px;
  padding-right: 20px;
  font-family: 'Roboto', sans-serif;
}
.nav.nav-tabs > li > a:hover {
  color: #228bdf !important;
}
.nav.tabs-vertical > li > a {
  background-color: transparent;
  border-radius: 0;
  border: none;
  color: #333333 !important;
  cursor: pointer;
  line-height: 50px;
  padding-left: 20px;
  padding-right: 20px;
}
.nav.tabs-vertical > li > a:hover {
  color: #228bdf !important;
}
.tab-content {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  color: #777777;
}
.nav.nav-tabs > li:last-of-type a {
  margin-right: 0px;
}
.nav.nav-tabs {
  border-bottom: 0;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.navtab-custom li {
  margin-bottom: -2px;
}
.navtab-custom li a {
  border-top: 2px solid transparent !important;
}
.navtab-custom li.active a {
  border-top: 2px solid #228bdf !important;
}
.nav-tab-left.navtab-custom li a {
  border: none !important;
  border-left: 2px solid transparent !important;
}
.nav-tab-left.navtab-custom li.active a {
  border-left: 2px solid #228bdf !important;
}
.nav-tab-right.navtab-custom li a {
  border: none !important;
  border-right: 2px solid transparent !important;
}
.nav-tab-right.navtab-custom li.active a {
  border-right: 2px solid #228bdf !important;
}
.nav-tabs.nav-justified > .active > a,
.nav-tabs.nav-justified > .active > a:hover,
.nav-tabs.nav-justified > .active > a:focus,
.tabs-vertical-env .nav.tabs-vertical li.active > a {
  border: none;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover,
.tabs-vertical > li.active > a,
.tabs-vertical > li.active > a:focus,
.tabs-vertical > li.active > a:hover {
  color: #228bdf !important;
}

.nav.nav-tabs + .tab-content {
    background: #ffffff;
    margin-bottom: 20px;
    padding: 20px;
}
.progress.progress-sm .progress-bar {
    font-size: 8px;
    line-height: 5px;
}
       

h4 { font-size: 19px; 
   letter-spacing: 0px; 
   font-weight: 600;
   font-style: normal;
   color: #000;
}

p {
  font-weight: 400;
  font-style: normal;
  color: #494949;
}


a {
  color: #494949;
}

.capital {
  text-transform:uppercase;
}


i {
  font-style: normal;
  font-size: 42px;
  text-align: center;
  line-height: 64px;
}

/* Breadcum bar */
.bread-bar {
  background: #f9f9f9;
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
  min-height: 40px;
  height: auto;
  position: relative;
  z-index: 555;
}
.breadcrumb {
  background: none;
  margin: 0;
  font-weight: 300;
  padding-left: 0;
  font-size: 13px;
}
.breadcrumb a {
  color: #999;
}
.breadcrumb > .active {
  color: #666;
}
.breadcrumb > li + li::before {
  content: "\203A";
  color: #999;
  padding: 0 8px;
}

















/* Navigation */
.navbar-default {
background-color: #011034;
border-color: #011034;
padding: 10px 0px 10px 0;
letter-spacing:1px;
font-weight:800;
text-transform: uppercase;
  -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
  -ms-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
  -o-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
}
.navbar-default {
background-color: #011034;
border-color: #011034;
}
.navbar-default .navbar-brand {
color: #ffffff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
color: #b40028;
}
.navbar-default .navbar-text {
color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
color: #b40028;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
background-color: #011034;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
color: #ffffff;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
color: #b40028;
background-color: #011034;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li.divider {
background-color: #011034;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
color: #b40028;
background-color: #011034;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
color: #b40028;
background-color: #011034;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
color: #b40028;
background-color: #011034;
}
.navbar-default .navbar-toggle {
border-color: #011034;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
background-color: #011034;
}
.navbar-default .navbar-toggle .icon-bar {
background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
border-color: #ffffff;
}
.navbar-default .navbar-link {
color: #ffffff;
}
.navbar-default .navbar-link:hover {
color: #b40028;
}

@media (max-width: 767px) {
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
  color: #b40028;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #b40028;
  background-color: #011034;
}
}
.paragaph
{
  font-size: 14px;
}