<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>

<div class="image-aboutus-banner"style="margin-top:70px">
   <div class="container">
    <div class="row">
        <div class="col-md-12">
         <h1 class="lg-text">Welcome to Readaholic </h1>
         <p class="image-aboutus-para">The right book in the right hands at the right time
            can change the world.</p>
       </div>
    </div>
</div>
</div>
<div class="bread-bar">
    	<div class="container">
        	<div class="row">
            	<div class="col-md-8 col-sm-6 col-xs-8">
                    <ol class="breadcrumb">
                        <li><a href="index.html">Home</a></li>
                        <li class="active">About Us</li>
                    </ol>
            	</div>
                <div class="col-md-4 col-sm-6 col-xs-4">
                </div>
            </div>
      	</div>
    </div>
<div class="aboutus-secktion paddingTB60">
    <div class="container">
        <div class="row">
                	<div class="col-md-6">
                    	<h1 class="strong">Who we are </h1>
                        <p class="lead">We are Ocean'18 team, Students in 2nd year Computer engineering department Faculty of engineering Cairo university. </p>
                    </div>
                    <div class="col-md-6">
                        <h1 class="strong">What we do</h1>
                          <p class="lead">This is our great project Readaholic website for reading books you love.. </p>
                      </div>
</div>
    </div>
</div>




<div class ="youCan">
<p>Through our website you can</p>
</div>


<div class="slider">
    <!--Carousel Wrapper-->
    <div id="carousel-example-2" class="carousel slide carousel-fade" data-ride="carousel">
        <!--Indicators-->
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-2" data-slide-to="1"></li>
          <li data-target="#carousel-example-2" data-slide-to="2"></li>
          <li data-target="#carousel-example-2" data-slide-to="3"></li>

        </ol>
        <!--/.Indicators-->
        <!--Slides-->
        <div class="carousel-inner" role="listbox">
          <div class="carousel-item active">
            <div class="view">
              <img class ="sliderImg" src="assets/img1about.jpg" alt="First slide">
              <div class="mask rgba-black-light"></div>
            </div>
            <div class="carousel-caption">
              <h3 class="h3-responsive">Read</h3>
              <p class="color">Reading books you love</p>
            </div>
          </div>
          <div class="carousel-item">
              <!--Mask color-->
              <div class="view">
                <img class ="sliderImg" src="assets/img2about.jpg" alt="Third slide">
                <div class="mask rgba-black-slight"></div>
              </div>
              <div class="carousel-caption">
                <h3 class="h3-responsive">Follow</h3>
                <p class="color">Follow other readers</p>
              </div>
            </div>
          <div class="carousel-item">
            <!--Mask color-->
            <div class="view">
              <img class ="sliderImg" src="assets/img4about.jpg" alt="Second slide">
              <div class="mask rgba-black-strong"></div>
            </div>
            <div class="carousel-caption">
              <h3 class="h3-responsive">Rate</h3>
              <p class="color">Rating books</p>
            </div>
          </div>
          <div class="carousel-item">
              <!--Mask color-->
              <div class="view">
                <img class ="sliderImg" src="assets/img3about.jpg
                " alt="Second slide">
                <div class="mask rgba-black-strong"></div>
              </div>
              <div class="carousel-caption">
                <h3 class="h3-responsive" class="colorBlack">Review </h3>
                <p class="colorBlack">Review books</p>
              </div>
            </div>
         </div>
        <!--/.Slides-->
        <!--Controls-->
        <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
        <!--/.Controls-->
      </div>
      <!--/.Carousel Wrapper-->
      </div>







<div class="memberslist">

<div class="container team-sektion paddingTB60">
	<div class="row">
		<div class ="text" >
						<h3 class ="ourTeam">Our Team</h3>
						<p > Our great team thanks to you all. <br>  </p>
						<div class="border"></div>
					</div>
  </div>

    <div class="teamleader">Team Leader<div>
        <div class="borderleft"></div>
  
    <!-- Page Content -->
    <div class="container">
        <div class="row">
       
          <!-- Team Member 4 -->
          <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-0 shadow">
              <img src="assets/MhmdAbdlh.jpg" class="cardPhoto" alt="...">
              <div class="card-body text-center">
                  <h5 class="teammembername">Mhmd Abdlh </h5>
                  <div class="description">Team Leader</div>
                  <a href="https://www.facebook.com/mhmd.abdlh.98"><i id="social-fb" class="fa fa-facebook-square fa-2x social"></i></a>
                <a href="mailto:bootsnipp@gmail.com"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
            
              </div>
            </div>
          </div>
        </div>


                

  <div class="teamleader">Front-end Team <div>
      <div class="borderleft"></div>
  
	<!-- Page Content -->
<div class="container">
    <div class="row">
      <!-- Team Member 1 -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-0 shadow">
          <img src="assets/SarahRafaat.jpg" class="cardPhoto" alt="...">
          <div class="card-body text-center">
            <h5 class="teammembername">Sarah Raafat </h5>
            <div class="description">Front-end team leader</div>
            <a href="https://www.facebook.com/mhmd.abdlh.98"><i id="social-fb" class="fa fa-facebook-square fa-2x social"></i></a>
            <a href="mailto:bootsnipp@gmail.com"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
        
          </div>
        </div>
      </div>
      <!-- Team Member 2 -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-0 shadow">
          <img src="assets/SarahMohamed.png" class="cardPhoto" alt="...">
          <div class="card-body text-center">
              <h5 class="teammembername">Sarah Mohamed </h5>
              <div class="description">Front-end team member</div>
              <a href="https://www.facebook.com/mhmd.abdlh.98"><i id="social-fb" class="fa fa-facebook-square fa-2x social"></i></a>
            <a href="mailto:bootsnipp@gmail.com"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
        
          </div>
        </div>
      </div>
      <!-- Team Member 3 -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-0 shadow">
          <img src="assets/Mai.jpg" class="cardPhoto" alt="...">
          <div class="card-body text-center">
              <h5 class="teammembername">Mai Mostafa </h5>
              <div class="description">Front-end team member</div>
              <a href="https://www.facebook.com/mhmd.abdlh.98"><i id="social-fb" class="fa fa-facebook-square fa-2x social"></i></a>
            <a href="mailto:bootsnipp@gmail.com"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
        
          </div>
        </div>
      </div>


       <!-- Team Member 3 -->
       <div class="col-xl-3 col-md-6 mb-4">
          <div class="card border-0 shadow">
            <img src="assets/Mariam.jpg" class="cardPhoto" alt="...">
            <div class="card-body text-center">
                <h5 class="teammembername">Mariam Hisham </h5>
                <div class="description">Front-end team member</div>
                <a href="https://www.facebook.com/mhmd.abdlh.98"><i id="social-fb" class="fa fa-facebook-square fa-2x social"></i></a>
              <a href="mailto:bootsnipp@gmail.com"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
          
            </div>
          </div>
        </div>
      <!-- Team Member 4 -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-0 shadow">
          <img src="assets/Nehal.jpg" class="cardPhoto" alt="...">
          <div class="card-body text-center">
              <h5 class="teammembername">Nehal Abdel-Kader </h5>
              <div class="description">Front-end team member</div>
              <a href="https://www.facebook.com/mhmd.abdlh.98"><i id="social-fb" class="fa fa-facebook-square fa-2x social"></i></a>
            <a href="mailto:bootsnipp@gmail.com"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
        
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->
  
    <div class="teamleader">Back-end Team<div>
        <div class="borderleft"></div>
               

	<!-- Page Content -->
  <div class="container">
      <div class="row">
        <!-- Team Member 1 -->
        <div class="col-xl-3 col-md-6 mb-4">
          <div class="card border-0 shadow">
            <img src="assets/member.jpg" class="cardPhoto" alt="...">
            <div class="card-body text-center">
              <h5 class="teammembername">Ahmed Waleed </h5>
              <div class="description">Back-end team leader</div>
              <a href="https://www.facebook.com/mhmd.abdlh.98"><i id="social-fb" class="fa fa-facebook-square fa-2x social"></i></a>
              <a href="mailto:bootsnipp@gmail.com"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
          
            </div>
          </div>
        </div>
        <!-- Team Member 2 -->
        <div class="col-xl-3 col-md-6 mb-4">
          <div class="card border-0 shadow">
            <img src="assets/nournasser.jpg" class="cardPhoto" alt="...">
            <div class="card-body text-center">
                <h5 class="teammembername">Nour Nasser </h5>
                <div class="description">Back-end team member</div>
                <a href="https://www.facebook.com/mhmd.abdlh.98"><i id="social-fb" class="fa fa-facebook-square fa-2x social"></i></a>
              <a href="mailto:bootsnipp@gmail.com"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
          
            </div>
          </div>
        </div>
        <!-- Team Member 3 -->
        <div class="col-xl-3 col-md-6 mb-4">
          <div class="card border-0 shadow">
            <img src="assets/member.jpg" class="cardPhoto" alt="...">
            <div class="card-body text-center">
                <h5 class="teammembername">Ahmed Hamdy </h5>
                <div class="description">Back-end team member</div>
                <a href="https://www.facebook.com/mhmd.abdlh.98"><i id="social-fb" class="fa fa-facebook-square fa-2x social"></i></a>
              <a href="mailto:bootsnipp@gmail.com"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
          
            </div>
          </div>
        </div>
  
  
         <!-- Team Member 3 -->
         <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-0 shadow">
              <img src="assets/member.jpg" class="cardPhoto" alt="...">
              <div class="card-body text-center">
                  <h5 class="teammembername">Sofyan Mahmoud </h5>
                  <div class="description">Back-end team member</div>
                  <a href="https://www.facebook.com/mhmd.abdlh.98"><i id="social-fb" class="fa fa-facebook-square fa-2x social"></i></a>
                <a href="mailto:bootsnipp@gmail.com"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
            
              </div>
            </div>
          </div>
        <!-- Team Member 4 -->
        <div class="col-xl-3 col-md-6 mb-4">
          <div class="card border-0 shadow">
            <img src="assets/member.jpg" class="cardPhoto" alt="...">
            <div class="card-body text-center">
                <h5 class="teammembername">Mohamed Mokhtar </h5>
                <div class="description">Back-end team member</div>
                <a href="https://www.facebook.com/mhmd.abdlh.98"><i id="social-fb" class="fa fa-facebook-square fa-2x social"></i></a>
              <a href="mailto:bootsnipp@gmail.com"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
          
            </div>
          </div>
        </div>
      </div>
      <!-- /.row -->




      <div class="teamleader">Testing Team<div>
          <div class="borderleft"></div>
                 
  
    <!-- Page Content -->
    <div class="container">
        <div class="row">
          <!-- Team Member 1 -->
          <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-0 shadow">
              <img src="assets/member.jpg" class="cardPhoto" alt="...">
              <div class="card-body text-center">
                <h5 class="teammembername">Muhamed Ayman </h5>
                <div class="description">Testing team member</div>
                <a href="https://www.facebook.com/mhmd.abdlh.98"><i id="social-fb" class="fa fa-facebook-square fa-2x social"></i></a>
                <a href="mailto:bootsnipp@gmail.com"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
            
              </div>
            </div>
          </div>
         
          <!-- Team Member 4 -->
          <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-0 shadow">
              <img src="assets/member.jpg" class="cardPhoto" alt="...">
              <div class="card-body text-center">
                  <h5 class="teammembername">Ayamn Abdelnaby </h5>
                  <div class="description">Testing team member</div>
                  <a href="https://www.facebook.com/mhmd.abdlh.98"><i id="social-fb" class="fa fa-facebook-square fa-2x social"></i></a>
                <a href="mailto:bootsnipp@gmail.com"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
            
              </div>
            </div>
          </div>
        </div>
        <!-- /.row -->


        <div class="teamleader">DevOps Team<div>
            <div class="borderleft"></div>
                   
    
      <!-- Page Content -->
      <div class="container">
          <div class="row">
         
            <!-- Team Member 4 -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-0 shadow">
                <img src="assets/member.jpg" class="cardPhoto" alt="...">
                <div class="card-body text-center">
                    <h5 class="teammembername">Muhammed Kheir </h5>
                    <div class="description">DevOps engineer</div>
                    <a href="https://www.facebook.com/mhmd.abdlh.98"><i id="social-fb" class="fa fa-facebook-square fa-2x social"></i></a>
                  <a href="mailto:bootsnipp@gmail.com"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
              
                </div>
              </div>
            </div>
          </div>
        </div>

<div class="footer-section">
    <div class="footer">
	<div class="container">
	
		
		<div class="clearfix"></div>
	</div>
</div>
    <div class="footer-bottom">
        <div class="container">
					<div class="row">
						<div class="col-sm-12 text-center ">
							<div class="copyright-text">
								<p>CopyRight © 2019 All Rights Reserved</p>
							</div>
						</div> <!-- End Col -->
						
					</div>
				</div>
    </div>
</div>  



