<div class="btn-group"  >
  <button type="button"  class="btn btn-success" [disabled]="buttonDisabled" id="buttonColor"  (click)="addBookToShelf(2)">
    <span  id="removebtn" title="Remove this book from your shelves" *ngIf="removeEnabled" (mouseenter) ="mouseEnter($event)" (mouseleave) ="mouseLeave($event)" (click)="removeBookFromShelf()">&#10003; </span>
    <span id="test">{{shelfStatus}}</span>
  </button>
  <button type="button"style="max-width:40px;" class="btn btn-success dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" id="buttonColor">
  </button>
  <div class="dropdown-menu" >
    <a class="dropdown-item" id="want" (click)="addBookToShelf(2)">Want to Read</a>
    <a class="dropdown-item" id="current"  (click)="addBookToShelf(1)">Currently Reading</a>
    <a class="dropdown-item" id="read"  (click)="addBookToShelf(0)">Read</a>
  </div>
</div>
