<div class="btn-group"  >
  <button type="button"  class="btn btn-success" [disabled]="buttonDisabled" id="buttonColor" id="2" (click)="addBookToShelf($event)">
    <span title="Remove this book from your shelves" *ngIf="removeEnabled" (mouseenter) ="mouseEnter($event)" (mouseleave) ="mouseLeave($event)" (click)="removeBookFromShelf()">&#10003; </span>
    <span id="test">{{shelfStatus}}</span>
  </button>
  <button type="button"style="max-width:40px;" class="btn btn-success dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" id="buttonColor">
  </button>
  <div class="dropdown-menu" >
    <a class="dropdown-item"  id="2" (click)="addBookToShelf($event)">Want to Read</a>
    <a class="dropdown-item"  id="1" (click)="addBookToShelf($event)">Currently Reading</a>
    <a class="dropdown-item"  id="0" (click)="addBookToShelf($event)">Read</a>
  </div>
</div>
