<div class="container">
    <div class="row"> <!--book info-->
        <div class="media">
            <div class="col-md-1"></div>
            <div class="col-md-2">
                <img src={{myBook?.image_url}} class="align-self-start mr-3" style="width:150px">
                <app-dropdown id="addToshelf"></app-dropdown>
                <small id="rateBook"><app-star  [starsCount]="0" [readOnly]="false"></app-star></small>
            </div>
            <div class="media-body">
                <div class="col-md-9">
                    <h3><b>{{myBook?.book_title}}</b></h3>
                    <small><app-star [starsCount]="myBook?.average_rating" [readOnly]="true"></app-star> {{myBook?.average_rating}}   {{myBook?.ratings_count}} ratings</small>
                    <h5 id="authorName">by {{myBook?.author_name}}</h5>
                    <p>{{myBook?.description}}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <hr>
    <div class="row">
        <div class="media" *ngFor="let review of reviews">
            <div class="col-md-1"></div>
            <img id="reviewerImg" src={{review?.image_url}} class="align-self-start mr-3" style="width:70px;">
            <div class="media-body">
                <h6><b id="reviewerName">{{review?.user_name}}</b> rated it
                    <small>
                        <app-star  [starsCount]="review?.rating" [readOnly]="true"></app-star>
                    </small>
                </h6>
                <p>{{review?.body}}</p>
                <small>{{review?.likes_count}} likes    {{review?.comments_count}} comments</small>
                <div class="media p-3">
                    <img src="https://openclipart.org/download/76555/1280793706.svg" alt="Jane Doe" class="align-self-start mr-3" style="width:45px;">
                    <div class="media-body">
                        <h4>Jane Doe <small><i>Posted on February 20 2016</i></small></h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod t Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod t Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod t Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</div>
