<div class="container">
    <div class="row"> <!--book info-->
        <div class="media">
            <div class="col-md-2" id="leftCol">
                <img id="bookCover" src={{myBook?.image_url}} class="align-self-start mr-3">
                <app-dropdown id="shelf"></app-dropdown>
                <small><app-star  [starsCount]="0" [readOnly]="false"></app-star></small>
            </div>
            <div class="media-body" id="bookInfo">
                <div class="col-md-9">
                    <h1 id="Booktitle">{{myBook?.book_title}}</h1>
                    <span id="authorName">by {{myBook?.author_name}}</span>
                    <small><app-star [starsCount]="myBook?.average_rating" [readOnly]="true"></app-star> {{myBook?.average_rating}}   {{myBook?.ratings_count}} ratings</small>
                    <p>{{myBook?.description}}</p>
                    <div id="bookFormat">
                        <p>Paperback {{myBook?.num_pages}} pages</p>
                        <p>Published {{myBook?.publication_year}} by {{myBook?.publisher}}</p>
                    </div> 
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</div>  
<div class="container">
    <div class="row">
       
       <div class="col-md-2">
            <h6>My Activity</h6>
       </div>
    </div>
    <div class="row">
        
        <div class="col-md-2">
            <h6>Review Of</h6>
            <h6>Shelf</h6>
            <h6>Review</h6>
            <h6>Rating</h6>
        </div>
        <div class="col-md-7">
            <p>book isbn</p>
            <p>shelf</p>
            <p>book isbn</p>
            <small><app-star></app-star></small>
        </div>
    </div>
</div>
<div class="container">
    <hr>
    <div class="row">
        <div class="media" *ngFor="let review of reviews">
            <img id="reviewerImg" src={{review?.image_url}} class="align-self-start mr-3" style="width:70px;">
            <div class="media-body">
                <h6><b id="reviewerName">{{review?.user_name}}</b> rated it
                    <small>
                        <app-star  [starsCount]="review?.rating" [readOnly]="true"></app-star>
                    </small>    
                </h6>
                <p>{{review?.body}}</p>
                <small>{{review?.likes_count}} likes    {{review?.comments_count}} comments</small>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>  
</div>