
.container
{
    width: 100%;
    margin-left: 15%;
    margin-bottom: 2%;
    margin-right: 10%;
  /*  margin-left: 210px;
    margin-right: 280px;
    margin-bottom: 20px;*/
}

#leftCol {
    margin-top: 20px;
    margin-right: 35px;
    min-width: 180px;
}

#reviewerName {
    color: #00635d;
    cursor: pointer;
}

#reviewerImg {
    cursor: pointer;
}
#bookCover {
    width: 180px;
    height: 240px;
    margin-right: 0px;
}

#rateBook {
    margin-left: 45px;
}

#bookTitle {
    font-size: 24px;
    font-family: "Merriweather", "Georgia", serif;
    color: #382110;
}

#authorName {
    font-size: 18px;
}

#shelf {
    margin-left:12px;
}

#bookInfo {
    margin-left: 0px;
    margin-top: 3%;
    margin-bottom: 1%;
    min-width:60%;
    font-size: 1rem;
    font-family:"Merriweather", "Georgia", serif;
    color: #382110;
}

#reviewInfo {
    color: #382110;
    font-family:"Merriweather", "Georgia", serif;
    font-size: 1rem;
    margin-bottom: 10px;
}

#reviewInfo {
    min-width:600px; 
}

#bookFormat {
    font-size: 13px;
    line-height: 8px;
    margin-bottom: 0px;
    margin-top: 0px;
    font-family: 'Segoe UI', Tahoma, sans-serif;
    color: #382110;
}

#activity {
    font-family: "Merriweather", "Georgia", serif;
    font-size: 1rem;
}

#actCol1 {
    width: 4%;
    margin-right: 0;
}

#actCol2 {
    width: 40%;
    margin-left: 0;
}

#reviewbtn {
    border: none;
    padding: 0;
    background: none;
    color: #00635d;
   cursor: pointer;
   
}

.modal-content {
    font-family: "Merriweather", "Georgia", serif;
    font-size: 0.9rem;
    font-weight: 300;
    color: #382110;
    width: 100%;
}

.modal-footer button {
    background-color: #EDE6D6;
    color: #382110;
    border-radius: 4px;
    width: 60px;
    height: 40px;
    margin-right: 0;
}

textarea {
    width: 100%;
    
    margin-left: 4%;
    margin-right: 5%;
}

@media only screen and (max-width: 995px) {
    textarea {
        width: 95%;
        margin-left: 2.5%;
        margin-right: 2%;
    }
}
.dropbtn {
    width: 100%;
    height: 25;
    font-size: 0.9rem;
    color: #00635d;
    background-color: white;
    cursor: pointer;
    border-radius: 7px;
    border: 0.7px solid #D7D7D7;
    text-align: left;
  }
  
  
  #myInput {
    font-size: 0.9rem;
    width: 100%;
    border-radius: 7px;
    border: 0.7px solid #D7D7D7;
  }
  
  #myInput:focus {outline: 3px solid #ddd;}
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    width:100%;
    overflow: auto;
    background: #F4F1EA;
    border-radius: 7px;
    border: 0.7px solid #D7D7D7;
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    text-decoration: none;
    display: block;
    font-size: 0.8rem;
    border-bottom: 0.5px solid #D7D7D7;
    padding-bottom: 3px;
    padding-top: 3px;
  }
  
  .dropdown a:hover {background-color: #FFFFE0;}
  
  .show {display: block;}

