<navbar></navbar>

<div *ngIf="useridd == true" >

  <div class="mybooksTitle"> 
 Books
 </div>
</div>

<div *ngIf="useridd ==false" >

    <div class="mybooksTitle"> 
      Books
  </div>
  </div>
<hr/>



    <form id="tfnewsearch" method="get" >
    <input type="text" id ="searchtextfollowing" placeholder="search for books"value="searchText" [(ngModel)]="searchText" class="tftextinput" name="q" size="21"
      maxlength="120"><input id = "searchfollowingg" type="button" (click)="search()" value="search" class ="searchfollowing
      ">

    </form>
    

    
 
    

   
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div id ="container">
  <div id="leftcolumn">
    <th class ="bookShelves">Bookshelves</th>
    <div  class ="leftActivityy" >

    <a *ngIf="noBooksOnshelf1()== true"  (click)="getmybooks(true,1)"(click)="showNoboksmsg(0)" (click)="heighlight(1)" (click)="initializedarrow=false"class="leftActivity">to-read 
(0) <br />   </a>
<a *ngIf="noBooksOnshelf1()!= true" (click)="showNoboksmsg(0)" (click)="getmybooks(true,1)" (click)="heighlight(1)" (click)="initializedarrow=false"class="leftActivity">to-read 
    ({{count1}}) <br />  

   </a>
    

    <a *ngIf="noBooksOnshelf2()!= true" (click)="getmybooks(true,2)" (click)="showNoboksmsg(2)"(click)="heighlight(2)" (click)="initializedarrow=false"class="leftActivity">currently-reading 
      ({{count2}}) <br />   </a>
      <a *ngIf="noBooksOnshelf2() == true"  (click)="showNoboksmsg(0)"(click)="getmybooks(true,2)" (click)="heighlight(2)" (click)="initializedarrow=false"class="leftActivity">currently-reading  
          (0) <br />   

        </a>
          


    <a *ngIf="noBooksOnshelf0()!= true"(click)="getmybooks(true,0)" (click)="showNoboksmsg(0)"(click)="heighlight(0)" (click)="initializedarrow=false" class="leftActivity">read 
        ({{count0}}) </a>
        <a *ngIf="noBooksOnshelf0() == true" (click)="showNoboksmsg(0)" (click)="getmybooks(true,0)" (click)="heighlight(0)" (click)="initializedarrow=false"class="leftActivity">read 
            (0) <br />  

          </a>
        
      </div>
</div>

<div id="rightcolumn">

<div class ="tablePlace" >
<div class ="tablePlace"class="row">
	<div class="col-lg-8">
		<div class="main-box clearfix">
			<div >
				<table class="table user-list"   >
					<thead>
						<tr>
              <th><span>Cover</span></th>
              <th><span>Title</span></th>
              <th><span>Author</span></th>
              <th><span>avgrating</span></th>
              <th><span>rating</span></th>
							<th><span>DataAdded</span></th>

						</tr>
          </thead>

					<tbody *ngFor="let post of books" >
						<tr>
							<td>
                  <a class="bookimage"  [routerLink]="['/book', post.book_id]">
								<img class="bookimage" src={{post.img_url}} alt="">
</a>
              </td>
              <td>
                <a  [routerLink]="['/book', post.book_id]" class="user-link">{{post.title}}</a>

              </td>
              <td>
                <a  class="user-link">{{post.author_name}}</a>

              </td>
              <td>
                <a id="avgratingg" class="user-link">{{post.ratings_avg}}</a>

              </td>

<app-star class="starplace"[starsCount]="post.ratings_count" [readOnly]="true" [bookId]="post.id"
                           ></app-star>
							<td>
                  {{post.created_at}}							</td>

            </tr>

					</tbody>
        </table>
        <div  *ngIf="initializedarrow== true">

          <div id="arrow1">---></div>
      </div>
        <div  *ngIf="shelfNumber== 2">

            <div id="arrow2">---></div>
      </div>
      <div  *ngIf="shelfNumber== 1">

          <div id="arrow1">---></div>
    </div>
    <div  *ngIf="shelfNumber== 0">

        <div id="arrow0">---></div>


    </div>
    
   
</div>
		</div>
	</div>
</div>
</div>
</div>



