

/* USER LIST TABLE */
.user-list tbody td > img {
    position: relative;
	max-width: 50px;
	float: left;
	margin-right: 15px;
}
.user-list tbody td .user-link {
	display: block;
  font-size: 14px;
  color: #00635d;

	padding-top: 3px;
	margin-left: 0px;
}
.user-list tbody td .user-subhead {
	font-size: 0.875em;
	font-style: italic;
}

/* TABLES */
.table {
    border-collapse: separate;
}
.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
	background-color: #eee;
}

.table tbody > tr > td {
	font-size: 0.875em;
	background: #f5f5f5;
	border-top: 8px solid #fff;
	vertical-align: middle;
	padding: 12px 8px;
}
.table tbody > tr > td:first-child,
.table thead > tr > th:first-child {
	padding-left: 20px;
}
.table thead > tr > th span {
	border-bottom: 2px solid #382110;
	display: inline-block;
	padding: 0 5px;
  padding-bottom: 5px;
  font-size: 12px;
}
.table thead > tr > th > a span {
	color: #344644;
}
.table thead > tr > th > a span:after {
	content: "\f0dc";
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	margin-left: 5px;
	font-size: 0.75em;
}
.table thead > tr > th > a.asc span:after {
	content: "\f0dd";
}
.table thead > tr > th > a.desc span:after {
	content: "\f0de";
}
.table thead > tr > th > a:hover span {
	text-decoration: none;
	color: #2bb6a3;
	border-color: #2bb6a3;
}
.table.table-hover tbody > tr > td {
	-webkit-transition: background-color 0.15s ease-in-out 0s;
	transition: background-color 0.15s ease-in-out 0s;
}
.table tbody tr td .call-type {
	display: block;
	font-size: 0.75em;
	text-align: center;
}
.table tbody tr td .first-line {
	line-height: 1.5;
	font-weight: 400;
	font-size: 1.125em;
}
.table tbody tr td .first-line span {
	font-size: 0.875em;
	color: #969696;
	font-weight: 300;
}
.table tbody tr td .second-line {
	font-size: 0.875em;
	line-height: 1.2;
}
.table a.table-link {
	margin: 0 5px;
	font-size: 1.125em;
}


.table-products tbody > tr > td {
	background: none;
	border: none;
	border-bottom: 1px solid #ebebeb;
	-webkit-transition: background-color 0.15s ease-in-out 0s;
	transition: background-color 0.15s ease-in-out 0s;
	position: relative;
}
.table-products tbody > tr:hover > td {
	text-decoration: none;
	background-color: #f6f6f6;
}
.table-products .name {
	display: block;
	font-weight: 600;
	padding-bottom: 7px;
}

.table tbody > tr.table-line-fb > td {
	background-color: #9daccb;
	color: #262525;
}
.ratings
{
  text-align: left;
    font-size: 16px;
}
.tablePlace
{
  position :relative;
  top:2px;
  left:470px;

}
.mybooksTitle
{
  position: relative;
  color: #00635d;
  line-height: 1.3;
  font-size: 20px;
    font-family: "Merriweather", Georgia, "Times New Roman", serif;
    font-weight: bold;
    top: 70px;
    left: 200px;
}
.content-box {
  columns: 3 auto;
}
.leftActivity
{
  color: #00635d;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
}
.leftActivityy
{
  position: relative;
  top: 80px;
    left: 200px;
}
hr {
  position: relative;
  top:69px;
    border-top: 1px solid #D6D0C4;
    left:200px;
    margin-right: 31%;
}
#tfnewsearch{
  float:right;
  padding:20px;
}
.tftextinput{
  margin: 0;
  padding: 5px 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-size:10px;
  border:1px solid #00ced0; border-right:0px;
  border-top-left-radius: 5px 5px;
  border-bottom-left-radius: 5px 5px;
}
#tfnewsearch{
  position: absolute;
  top: 50px;
    right: 300px;
}
#searchtextfollowing{
  padding: 4px 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size:14px;
  border:1px solid #D6D0C4; border-right:0px;
  border-top-left-radius: 5px 5px;
  border-bottom-left-radius: 5px 5px;

}
#searchfollowingg
{
  background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
  background: -moz-linear-gradient(top,  #0095cc,  #00678e);

}
.searchfollowing
{
  padding: 6px 11px;
  font-family: Arial, Helvetica, sans-serif;
  font-size:12px;
  cursor: pointer;
  text-align: center;
  color:black;
  border: solid 1px #D6D0C4; border-right:0px;
  background: #F4F1EA;
  background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
  background: -moz-linear-gradient(top,  #00adee,  #0078a5);
  border-top-right-radius: 5px 5px;
  border-bottom-right-radius: 5px 5px;

}
.bookShelves
{
  position: relative;
  left:200px;
  top:72px;
}
#tagrba
{
  position: relative;
  top:150px;
  left:500px;
  line-height: 26px;
  font-size: 16px;
  font-family: "Merriweather", Georgia, "Times New Roman", serif;
  font-weight: bold;}
  .bookimage
  {
    height:70px;
    width:60px;
  }
  @media (max-width: 1200px) {
    #container 
    {
      position: absolute;
      left:50px;
      
    }
  }
  @media (max-width: 770px) {
    .tablePlace
    {
      position :relative;
      top:2px;
      left:40px;
    }
  }
  @media (max-width: 680px) {
    .tablePlace
    {
      position :relative;
      top:2px;
      left:30px;
    }
  }
  @media (max-width: 500px) {
    .tablePlace
    {
      position :relative;
      top:2px;
      left:2S0px;
    }
  }