.topnav {
    background-color: #f4f1ea;
    overflow: visible;
    height: 40px;
    min-width: 200px;
}

.active {
    background-color: #555;
    color: white;
}


/* Style the links inside the navigation bar */

.topnav a {
    float: left;
    display: block;
    color: #5e2b02;
    text-align: bottom;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

#Readholic {
    font-weight: bold;
    font-size: 30px;
    margin-top: 0;
}

#searchBox {
    width: 300px;
    height: 20px;
    float: middle;
    padding-bottom: 10px;
}

#right {
    float: right;
}

#notif {
    clear: both;
    float: left;
}

#logOut {
    background-color: #f4f1ea;
    margin-right: 5px;
}