.navbar {
    background-color: #f4f1ea;
    overflow: visible;
    /* height: 40px;
    min-width: 200px;*/
}

.active {
    background-color: #555;
    color: white;
}


/* Style the links inside the navigation bar */

.navbar a {
    float: left;
    display: block;
    color: #5e2b02;
    text-align: bottom;
    /*  padding-left: 10px;
    padding-right: 10px;*/
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    /*  margin-top: 10px;
    margin-bottom: 10px;*/
}

.nav-link a:hover {
    color: white;
}

.nav-link:hover {
    background-color: wheat;
}

#Readholic {
    font-weight: bold;
    font-size: 30px;
    margin-top: 0;
}


/*
#searchbox {
   width: 100px;
    height: 20px;
 
}
/*
#searchbutton{
 height:10px;
}*/

#notif{
    width:auto;
  clear: both;

}

#logOut {
    background-color: hsl(27, 58%, 62%);
    color: #f4f1ea;
    margin-top: 10px;
    /* margin-right: 5px;*/
}


/*
#right{
    float:right;
 
}
#parent_container{
    position:relative;
}*/

.dropdown-menu {
    max-height: 200px;
    overflow-y: auto;
}