<div class="topnav" id="myTopnav">
    <a class="nav-link" [routerLink]="['/home']" id="Readholic">Readholic </a>
    <a class="nav-link" [routerLink]="['/home']" id="home">Home </a>
    <a class="nav-link" [routerLink]="['/myBooks']" id="myBooks">My Books</a>
    <a class="nav-link" [routerLink]="['/profile']" id="profile">My Profile</a>
    <a class="nav-link" [routerLink]="['/followers']" id="followers">Followers</a>
    <a class="nav-link" [routerLink]="['/following']" id="following">Following</a>
    <a class="nav-link" [routerLink]="['/Aboutus']" id="aboutUs">Aboutus</a>

    <div id="right">


        <a class="nav-link" [routerLink]="['/accountSettings']" id="accountSettings">Account Settings </a>
        <button (click)="onLogout()" id="logOut">Log out</button>

    </div>
    <div class="input-group" id="searchBox">
        <input class="form-control border-secondary py-2" type="search" value="search books">
        <div class="input-group-append">
        </div>
    </div>


    <!--
<li class="nav-item dropdown" id="#notifications" >
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-bell">
            <span class="badge badge-primary">1</span>
          </i>
    </a>

    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="menu-title pull-right" href='/notifications'>View all<i class="glyphicon glyphicon-circle-arrow-right"></i></a>


        <div class="notification-wrapper" id="notif">

            <a class="notification-image">
                <img src="https://appharbor.com/assets/images/stackoverflow-logo.png" alt="" width="32">
            </a>
            <a class="notification-text" href="#">
                
                <span >Sara</span> 
                <span style=" font-weight:normal" > reviewed a book </span>
                
                
            </a>
        </div>
     

    </div>
</li>
-->
</div>


<router-outlet></router-outlet>