
<navbar></navbar>
<div class="card">
    <div class="card-body">
        <div class="row">
      <!---   <ul *ngFor="let review of reviews"  > -->
            

            <div class="col-md-2"  >
                <img  src="{{userr?.image_link}}" class="avatar" alt="Generic placeholder image" >
            </div>
            <div class="col-md-10">
                <p>
                    <a class="float-left" [routerLink]="['/profile',revieww?.user_id]"><strong> {{userr?.name}}</strong></a>

               </p>
            <div class="clearfix"></div>  
                <p >{{revieww?.body}} </p>
               
                <small> <!--{{review?.likes_count}} like -->

                    <app-likes  [resourse_id]='revieww?.id'></app-likes>

                <!--  {{review?.comments_count}} Comments -->
                    <app-comments  [resourse_id]='revieww?.id'></app-comments>


                </small> 
                </div>
        <!--   </ul> -->
            </div> 
       
         
    </div>
</div>