.avatar {
    position: relative;
    display: inline-block;
    width: 90px;
    white-space: nowrap;
    border-radius: 1000px;
    vertical-align: bottom
  }
  
  .avatar i {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 10px;
    height: 10px;
    border: 2px solid #fff;
    border-radius: 100%
  }
  
  .avatar img {
    width: 100%;
    max-width: 100%;
    height: auto;
    border: 0 none;
  }
  
  .avatar-100 {
    width: 100px
  }
  
  .avatar-100 i {
    height: 20px;
    width: 20px
  }
  
  .avatar-lg {
    width: 50px
  }
  
  .avatar-lg i {
    height: 12px;
    width: 12px
  }
  
  .avatar-sm {
    width: 30px
  }
  
  .avatar-sm i {
    height: 8px;
    width: 8px
  }
  
  .avatar-xs {
    width: 20px
  }
  
  .avatar-xs i {
    height: 7px;
    width: 7px
  }
  
  .list-group-item {
    position: relative;
    left: 27%;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    border: 10px solid transparent;
  }
  
  .namecenter {
  
    position: absolute;
    color: #00635d;
    font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
    line-height: 18px;
    left:75px;
    display: inline-block;

  }
  
#profilename
{
  position: relative;
  font-size: 12px;
  top:2px;
  right:132px;
}
  
  #profilepage{
    height: 66px;
  width: 50px;
  }
  #followbutton{
position: relative;;
top: 11px;
left:400px;
display: inline-block;
border-radius: 3px;
border: 1px solid #D6D0C4;
font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
font-size: 14px;

cursor: pointer;
display: inline-block;
text-decoration: none;
background-color: #F4F1EA;
line-height: 1;
padding: 8px 12px;
color: #333333;


  }
  h1{
    color: #0076a3;
    padding-bottom: 20px;
  
  }
  // search box //
  
  #tfheader{
    position: relative;
			}
      #tfnewsearch{
        float:right;
      
      padding-right:60px;
      padding-top: 10px;
      }
	#searchtextfollower{
		margin: 0;
		padding: 10px 15px;
		font-family: Arial, Helvetica, sans-serif;
		font-size:14px;
		border:1px solid #D6D0C4; border-right:0px;
		border-top-left-radius: 5px 5px;
		border-bottom-left-radius: 5px 5px;
  }
  #searchfollower{
    background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
		background: -moz-linear-gradient(top,  #0095cc,  #00678e);
	
  }
	.searchfollowers
  {
		padding: 10px 15px;
		font-family: Arial, Helvetica, sans-serif;
		font-size:14px;
		text-align: center;
		color: black;
		border: solid 1px  #D6D0C4; border-right:0px;
		background: #F4F1EA;
		background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
		background: -moz-linear-gradient(top,  #00adee,  #0078a5);
		border-top-right-radius: 5px 5px;
    border-bottom-right-radius: 5px 5px;
    
    
	}
	.tfbutton:hover {
		text-decoration: none;
		background: #F4F1EA;
		}
	/* Fixes submit button height problem in Firefox */
	.tfbutton::-moz-focus-inner {
	  border: 0;
	}
	.tfclear{
		clear:both;
  }
  
  .profile
  {
    position: absolute;
    color: #0076a3;
    top :10%;
  right: 25px;
  
  }
 
    hr {
      position: relative;
      display: block;
      height: 1px;
      border-top: 1px solid #D6D0C4;
    margin-right: 15%;
    
    }
    #Myprofilename
    {position: relative;
      color: #00635d;
      line-height: 26px;
      font-size: 22px;
      font-family: "Merriweather", Georgia, "Times New Roman", serif;
      font-weight: bold;
      padding-top: 5%;
      padding-left: 10%;
    }
    #Myprofilename span{
      color: #382110;  padding-bottom: 20px;
      padding: 0px 0px 2px 0px;
      font-size: 20px;
      font-family: "Merriweather", Georgia, "Times New Roman", serif;
      font-weight: bold;
      margin-top: 0;
      margin-bottom: 15px;
      line-height: 24px;
    }

    

    .country
{
  position: absolute;
  color: #181818;
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
  text-align: left;
  line-height: 18px;
font-size: 12px;
left:75px;
top:17px;


}
#tagrba
{
  position: relative;
  top:150px;
  right:500px;
  line-height: 26px;
  font-size: 16px;
  font-family: "Merriweather", Georgia, "Times New Roman", serif;
  font-weight: bold;}

  @media (max-width:750px) 
{
  #followbutton{
    position: absolute;;
    top: 11px;
    left:210px;
    display: inline-block;
    border-radius: 3px;
    border: 1px solid #D6D0C4;
    font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
    font-size: 14px;
    
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    background-color: #F4F1EA;
    line-height: 1;
    padding: 8px 12px;
    color: #333333;
      }
      
    hr {
      position: relative;
      display: block;
      height: 1px;
      border-top: 1px solid #D6D0C4;
    margin-right: 3%;
    margin-left:1%;
}
#profilepage
{
  position: relative;
  padding-left:-50px;
}
.namecenter {
  
  position: absolute;
  color: #00635d;
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
  line-height: 18px;
  left:210px;
  display: inline-block;

}
}

@media (min-width: 320px) and (max-width: 480px){
  #profilepage
{
  position: relative;
  padding-left:-50px;
}
  hr {
    position: relative;
    display: block;
    height: 1px;
    border-top: 1px solid #D6D0C4;
  margin-right: 6%;
  margin-left:1%;
}
  #followbutton{
    position: absolute;;
    top: 11px;
    left:90px;
    display: inline-block;
    border-radius: 3px;
    border: 1px solid #D6D0C4;
    font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
    font-size: 14px;
    
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    background-color: #F4F1EA;
    line-height: 1;
    padding: 8px 12px;
    color: #333333;
    
    
      }
}