<navbar></navbar>



<div *ngIf="selectedProfile">
    <div id="Myprofilename">
        <a [routerLink]="['/profile',selectedProfile.id ]" style=" color: #00635d;">{{ selectedProfile.name }} </a><span> > Followers</span>
    </div>
</div>
<p *ngIf="noFollowers() == 0" id="tagrba">
    You haven't got any followers ,don't be sad..</p>









<div *ngIf="empty">

    <h1>have no followers</h1>
</div>

<div *ngIf="!empty">

    <div class="row bootstrap snippet">
        <div class="col-md-6 col-xs-12 col-md-offset-3">
            <div class="panel" id="followers">
                <div class="panel-heading">
                    <h3 class="panel-title">
                    </h3>
                </div>
                <div class="panel-body">
                    <ul class="list-group list-group-dividered list-group-full">
                        <li *ngFor="let post of posts " class="list-group-item">

                            <div class="media-body">
                                <div class="media">
                                    <div class="media-left">
                                        <a [routerLink]="['/profile', post.id]">
                                            <img id="profilepage" src={{post.image_link}} alt="jj">
                                            <i></i>
                                        </a>
                                    </div>
                                    <div *ngIf="noFollowbutton(post.id) ==true " class="pull-right">

                                        <button id="followbutton" (click)="add(post.id)" type="button" class="btn btn-info btn-sm waves-effect waves-light">Follow </button>
                                    </div>
                                    <div *ngIf="noFollowbutton(post.id) ==false " class="pull-right">

                                        <button id="followbutton" (click)="delFollowing(post.id)" type="button" class="btn btn-info btn-sm waves-effect waves-light">UnFollow </button>
                                    </div>
                                    <div id="profilename" class="namecenter" style="clear:right" class="media-right"><a id="profilename" class="namecenter" style="clear:right" [routerLink]="['/profile', post.id]">{{post.name}}</a></div>

                                </div>

                              
                                <hr/>

                            </div>
                        </li>


                    </ul>
                </div>
            </div>
        </div>
    </div>


</div>