.avatar {
  position: relative;
  display: inline-block;
  width: 90px;
  white-space: nowrap;
  border-radius: 1000px;
  vertical-align: bottom
}

.avatar i {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 10px;
  height: 10px;
  border: 2px solid #fff;
  border-radius: 100%
}

.avatar img {
  width: 100%;
  max-width: 100%;
  height: auto;
}
.namecenter {
  left: 500;
  line-height: 200px;
  margin: auto;
  margin-top: -120px;
  margin-left: 100;
  padding-left: 150px;
  position: absolute;
  top: 50%;
  width: 200%;
  font-size: 16px;

}
.nameoffollower {
  position: relative;
  color: #00635d;
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
  text-align: left;
  line-height: 18px;
margin-left: 103px;}
#profilename
{
  font-size: 12px;
}

#profilepagef{
  height: 150px;
width: 150px;
}
#stopfollow{
   position:absolute;
    top: 20px;
    right: 50px;
    display: inline-block;
    border-radius: 3px;
    border: 1px solid #D6D0C4;
    font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
    font-size: 14px;
    display: inline-block;
    text-decoration: none;
    background-color: #F4F1EA;
    line-height: 1;
    padding: 8px 12px;
    color: #333333;
}


// search box //

	#tfheader{
    position: relative;
    top: 50px;
	}
	#tfnewsearch{
		float:right;
		padding:20px;
	}
	.tftextinput{
		margin: 0;
		padding: 5px 15px;
		font-family: Arial, Helvetica, sans-serif;
		font-size:14px;
		border:1px solid #00ced0; border-right:0px;
		border-top-left-radius: 5px 5px;
		border-bottom-left-radius: 5px 5px;
  }
  #searchtextfollowing{
    margin: 0;
		padding: 10px 15px;
		font-family: Arial, Helvetica, sans-serif;
		font-size:14px;
		border:1px solid #D6D0C4; border-right:0px;
		border-top-left-radius: 5px 5px;
		border-bottom-left-radius: 5px 5px;

  }
  #searchfollowingg
  {
    background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
		background: -moz-linear-gradient(top,  #0095cc,  #00678e);

  }
	.searchfollowing
  {
		padding: 10px 15px;
		font-family: Arial, Helvetica, sans-serif;
		font-size:14px;
		outline: none;
		cursor: pointer;
		text-align: center;
		text-decoration: none;
		color:black;
		border: solid 1px #D6D0C4; border-right:0px;
		background: #F4F1EA;
		background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
		background: -moz-linear-gradient(top,  #00adee,  #0078a5);
		border-top-right-radius: 5px 5px;
		border-bottom-right-radius: 5px 5px;

	}

	/* Fixes submit button height problem in Firefox */
	.tfbutton::-moz-focus-inner {
	  border: 0;
	}
	.tfclear{
		clear:both;
  }

  .profile
  {
    position: absolute;
    color: #0076a3;
    top :10%;
    right: 25px;
  }
  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #008B8B;
    margin: 1em 0;
    padding: 0;
}

.leftContainer {
  float: left;
  width: 625px;
  padding-right: 10px;
  padding-left: 8px;
}

body{
  margin-top:10px;
  background: white;
}

.directory-list, .directory-info-row .social-links {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.directory-list li {
  border-left: -50px solid #f1f2f7;
  display: table-cell;
  width: 1%;
}

.directory-list li a {
  display: block;
  padding: 8px 0;
  text-align: center;
  text-transform: uppercase;
  background: #fff;
  color: #7A7676;
  -moz-transition: all 0.2s ease-out 0s;
  -webkit-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
  border-radius: 5px;
  -webkit-border-radius: 5px;
}
.listt
{
  position: relative;
  top:10px;
  margin-top: 5px;
  padding-top: 5px;
}
#bookimage
{
  width: 50px;
  max-width: 100%;
  height: 66px;
  border: 0;
  cursor: pointer;
  text-decoration: underline;
  float: left;
    margin-right: 10px;
}
#profilepagef
{
  position: relative;
  width: 50px;
  max-width: 100%;
  height: 66px;
  cursor: pointer;
  left:90px;
  color: #00635d;
}

.directory-info-row {
  position: relative;
  display: block;
  width: 60%;
  margin-left: 5px;
  margin-top: 5px;
  background: #FFFFFF;
  left:100px;

}
.directory-info-row2 {
  display: inline-block;
  width: 60%;
  margin-top: 1px;
}
.directory-info-row1 {
  display: inline-block;
  width: 40%;
  margin-top: 1px;
}

.directory-info-row .social-links li a {
  background: #EFF0F4;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  display: inline-block;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  color: #7A7676;
}


h4{
  position: relative;
  font-size: 12px;
  color: #00635d;
}
.currentext
{
  color: #999999;
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;

  font-size: 12px;
}
#bookname{
  font-size: 12px;
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
  color: #181818;
}
.panelbodychar
{
  position: absolute;
  top: -20px;
  left:34px;
right:5px;
padding: 3px;
}
#Myprofilename
{position: relative;
  color: #00635d;
  line-height: 26px;
  font-size: 22px;
  font-family: "Merriweather", Georgia, "Times New Roman", serif;
  font-weight: bold;
  top:28px;
  right:65px;
}
#Myprofilename ,span
{
  color:black;
}
hr {
  position: relative;
  display: block;
  height: 1px;
  border-top: 1px solid #D6D0C4;
margin-left: 14%;
margin-right: 38%;
}


.country
{
  position: absolute;
  color: #181818;
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
  line-height: 18px;
font-size: 12px;
left:168px;
top:17px;


}

@media (max-width: 1200px) {

  #bookimage
{
  position: absolute;
  width: 50px;
  max-width: 100%;
  height: 66px;
  border: 0;
  cursor: pointer;
  text-decoration: underline;
  float: left;
    margin-right: 2px;
    left:30;
}
.left{
position: absolute;
left:90px;
}
.directory-info-row {
  position: relative;
  display: block;
  width: 90%;
  margin-left: 5px;
  margin-top: 5px;
  background: #FFFFFF;
  left:100px;


}

#bookname{
  position: absolute;
  top:20px;
  left:76px;
  font-size: 12px;
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
  color: #181818;
}
.currentext
{
  position: absolute;
  top:3px;
  left:76px;
  color: #999999;
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;

  font-size: 12px;
}
.directory-info-row1
{
  position: absolute;
  left:20px;
}
#tfheader{
  position: relative;
  top: 25px;
}
hr {
  position: relative;
  display: block;
  height: 1px;
  border-top: 1px solid #D6D0C4;
margin-left: 14%;
margin-right: 15%;
}
}


@media (max-width: 770px) {

  #bookimage
{
  position: absolute;
  width: 0px;
  max-width: 100%;
  height: 0px;
  
}
.bookhide{
  font-size: 0px;
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
  color: #181818;
}
.currentext
{
  font-size: 0px;
}

#stopfollow{
  position:absolute;
    top: -10px;
    right: 10px;
display: inline-block;
border-radius: 3px;
    

}
}

@media (max-width: 680px) {

  #bookimage
{
  position: absolute;
  width: 0px;
  max-width: 100%;
  height: 0px;
  
}
.bookhide{
  font-size: 0px;
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
  color: #181818;
}
.currentext
{
  font-size: 0px;
}

#stopfollow{
  position:absolute;
    top: -10px;
    right: -60px;
display: inline-block;
border-radius: 3px;
    
}

}
#tagrba
{
  position: relative;
  top:150px;
  left:230px;
  line-height: 26px;
  font-size: 16px;
  font-family: "Merriweather", Georgia, "Times New Roman", serif;
  font-weight: bold;}