<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <script src="angular.min.js"></script>
  <title>Followers</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<router-outlet></router-outlet>

<body>
<div id="Myprofilename">
  Sarah Mohamed <span> > People You're Following</span> 
</div>


  <div id="tfheader" >
      <form id="tfnewsearch" method="get" >
		 
      <input type="text" id ="searchtextfollowing" value="searchText" [(ngModel)]="searchText" class="tftextinput" name="q" size="21"
        maxlength="120"><input id = "searchfollowingg" type="button" (click)="search()" value="search" class ="searchfollowing
        ">
      </form>

    <div class="tfclear"></div>
  </div>



   <ul style="list-style: none;">   
  <li  class="list" *ngFor="let post of posts | filter:searchText ">
  
  <div class="directory-info-row">
      <div class="directory-info-row1" class="row">
          <div class="directory-info-row1" class="col-md-5 col-sm-6">
              <div class ="panelbodychar"class="panel">
              <div class ="panelbodychar" class="panel-body">
                  <div class ="panelbodychar"class="media">
                      <a class="pull-left"  [routerLink]="['/profile', post.id]">
                          <img id ="profilepagef"  src={{post.image_url}} alt="">
                      </a>
                      <div class="media-body">
                        <a [routerLink]="['/profile', post.id]"  id ="profilename"class ="nameoffollower " >
                          {{post.name}} 
                             
                        </a>
                      </div>
                  </div>
              </div>
            </div>
          </div>
          
          
          
          <div class="directory-info-row2 "class="col-md-6 col-sm-6">
              <div class="panel">
              <div class="panel-body">
                  <div class="media">
                      <a class="pull-left"  href="#">
                          <img id ="bookimage"  src={{post.bookimage}} alt="">
                      </a>
                      <div class="media-body">
                          <div class="currentext"> Currently reading : </div>
                          <div class="pull-right">
                            <button id ="stopfollow" ng-click="follow()" type="button"
                              class="btn btn-info btn-sm waves-effect waves-light">Stop Follow </button>
                          </div>
                          <address>
                            <a  id= "bookname" [routerLink]="['/my-book', post.bookid]" >
                              <h4 >{{post.bookname}} </h4>
                                 
                            </a>
                  
                            
                          </address>
                         

                      </div>
                  </div>
              </div>
            </div>
          </div>
          
          
    </div>
  </div>
  <hr/>
</li>
</ul>










</body>
</html>