<navbar></navbar>

<router-outlet></router-outlet>



    <div *ngIf="selectedProfile">
        <div id="Myprofilename">
            <a [routerLink]="['/profile',selectedProfile.id ]" style=" color: #00635d;">{{ selectedProfile.name }} </a><span> > People You're Following</span>
        </div>
    </div>




    <div id="tfheader">
        <form id="tfnewsearch" method="get">

            <input type="text" id="searchtextfollowing" value="searchText" [(ngModel)]="searchText" class="tftextinput" name="q" size="21" maxlength="120"><input id="searchfollowingg" type="button" (click)="search()" value="search" class="searchfollowing
        ">
        </form>

        <div class="tfclear"></div>
    </div>


    <p *ngIf="noFollowing() == 0" id="tagrba">You are not following anyone.</p>


    <ul  style="list-style: none;">
        <li class="list" *ngFor="let post of posts  ">

            <div class="directory-info-row">
                <div class="directory-info-row1" class="rowcolumn" class="row">
                    <div class="directory-info-row1" class="col-md-5 col-sm-6">
                        <div class="panelbodychar" class="panel">
                            <div class="panelbodychar" class="panel-body">
                                <div class="panelbodychar" class="media">
                                    <a class="left" class="pull-left" [routerLink]="['/profile', post.id]">
                                        <img id="profilepagef" src={{post.image_link}} alt="jj">
                                    </a>
                                    <div class="media-body">
                                        <a [routerLink]="['/profile', post.id]" id="profilename" class="nameoffollower ">
                          {{post.name}}

                        </a> </div>



                                </div>


                            </div>
                        </div>
                    </div>



                    <div class="directory-info-row2 " class="col-md-7 col-sm-7">
                        <div class="panel">
                            <div class="panel-body">
                                <div class="media">
                                    <a class="pull-left" [routerLink]="['/book', post.bookid]">
                                        <img id="bookimage" src={{post.book_image}} alt="jj">
                                    </a>
                                    <div class="media-body">
                                        <div class="currentext"> Currently reading : </div>
                                        <div class="pull-right">
                                            <button id="stopfollow" (click)="delFollowing(post.id)" type="button" class="btn btn-info btn-sm waves-effect waves-light"> UnFollow </button>
                                        </div>
                                        <address>
                            <a   id= "bookname" [routerLink]="['/book', post.bookid]" >
                              <h4 class="bookhide" >{{post.currently_reading}} </h4>

                            </a>


                          </address>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
            <hr/>
        </li>
    </ul>











