<navbar></navbar>
  <div class="container" id="firstContainer" *ngIf="selectedProfile" >
    <div class="row">
      <div class=" col-md-4 ">
           <img id="profilePicture" [src]="selectedProfile.small_image_url" >
      </div>
      <div class=" col-md-4" >
        <div class="userName">  {{ selectedProfile.name }} ( edit profile ) </div>
          <hr>
          <div class="Details">
             <b>Details:</b>
            {{ selectedProfile.location }}
          </div>
          <div class="Activity">
           <b>Activity:</b>
            {{ selectedProfile.joined }} , {{ selectedProfile.last_active }}
          </div>
      </div>

    </div>
    </div>

      <br>
      <br>

    <div class="container" id="profileTitles" *ngIf="selectedProfile" >
    <div class="row">
        <div class=" col-md-8 ">
               <!-- <b>
                 {{selectedProfile.name }}'S FAVOURITES
               </b>
               <hr>-->
               <div class="bookShelves">
               <b>  {{ selectedProfile.name }}'S BOOKSHELVES </b>
                 <hr>
              <div class="userBookshelves">
                    {{ selectedProfile.user_shelves[0].name }} ({{selectedProfile.user_shelves[0].book_count}})
                    {{ selectedProfile.user_shelves[1].name }} ({{ selectedProfile.user_shelves[1].book_count }})
                    {{ selectedProfile.user_shelves[2].name }} ({{ selectedProfile.user_shelves[2].book_count }})
                  </div>
                  <a [routerLink]="['/myBooks']" id="bookShelvesmore" > More.. </a>
               </div>

                  <br>
                  <br>
               <b>
                  {{ selectedProfile.name}} IS CURRENTLY READING </b>

                <hr>
               <b>
                  {{ selectedProfile.name }}'S RECENT UPDATES </b>
                  <hr>

                        </div>
                        <div class="col-md-4"  >
                         <b> {{ selectedProfile.name }} IS FOLLOWING  </b>
                          <hr>
                          <tbody>
                            <tr *ngFor='let allFollowing of allFollowings'>
                                <td> <img [src]="allFollowing.image_url"  id="followerProfilepicture"  >
                                   </td>
                                <td>  <a [routerLink]= "['/profile', allFollowing.id]"> {{ allFollowing.name }} </a>
                                </td>
                            </tr>
                          </tbody>

                        </div>
        </div>
    </div>

