<navbar></navbar>
  <div class="container" id="firstContainer" *ngIf="selectedProfile" >
    <div class="row">
      <div class=" col-md-4 ">
           <img id="profilePicture" [src]="selectedProfile.image_link" >
           <div >
             <p class="moreUseractivity" >
            <a [routerLink]="['/myBooks']" style="color: #B7673C"> {{ selectedProfile.rating_count }} rating</a>( {{ selectedProfile.rating_avg }} avg ) <br>
             </p>
           </div>
      </div>
      <div class=" col-md-4" >
        <div class="userName" id="userNameprofile">  {{ selectedProfile.name }}
          <a *ngIf="showEditbtn" [routerLink]="['/accountSettings']"> ( edit profile )</a> </div>

          <hr>
          <div class="Details">
             <b>Details:</b>
            Age {{ selectedProfile.age }} , {{ selectedProfile.city }}
          </div>
          <div class="Activity">
           <b>Activity:</b>
            Joined in {{ selectedProfile.joined_at }} , Last Active in {{ selectedProfile.last_active }}
          </div>
          <div class="Birthday">
          <b>Birthday:</b>
          {{ selectedProfile.birthday }}
        </div>
      </div>
    </div>
    </div>
      <br>
      <br>

    <div class="container" id="profileTitles" *ngIf="selectedProfile" >
    <div class="row">
        <div class=" col-md-8 ">
               <div class="bookShelves" >
                     <b>  {{ selectedProfile.name }}'S BOOKSHELVES </b>
                        <hr>
                    <div class="userBookshelves">
                        <a [routerLink]="['/myBooks',selectedProfile.id]"  > read </a>
                        <a [routerLink]="['/myBooks',selectedProfile.id]"  > to-read </a>
                        <a [routerLink]="['/myBooks',selectedProfile.id]"  > currently-reading </a>

                  </div>
                  <a [routerLink]="['/myBooks',selectedProfile.id/1]" id="bookShelvesmore" > More.. </a>
               </div>

                  <br>
                  <br>
                  <hr>
               <b>
                  {{ selectedProfile.name}} IS CURRENTLY READING </b>
                  <div class="currentlyReading">
            <!--          <tbody *ngFor="let post of books" >


                                <a class="bookimage"  [routerLink]="['/book', post.book_id]">
                              <img class="bookimage" src={{post.image_url}} > </a>

                              <a  [routerLink]="['/book', post.book_id]" class="user-link">{{post.title}}</a>
              <app-star  id='stars' [starsCount]="post.ratings_count" [readOnly]="true" [bookId]="post.id"
                                         ></app-star>



                        </tbody>-->
                  </div>

                <hr>
               <b>
                  {{ selectedProfile.name }}'S RECENT UPDATES </b>
                  <hr>
                  <div class="updates" *ngFor='let update of allUpdates' >
                    <div class="container">
                      <div class="row">
                          <div class=" col-md-6">
                            <div class="action" *ngIf="update.update_type !=0 "  >
                            <div class="action" *ngIf="update.actionText != ' started following  : ' "  >
                             <b> {{update.name }}</b>  {{ update.actionText }}
                              <div class="media">
                               <a [routerLink]="['/book',update.book_id]" >  <img id="bookUpdate" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcThCiiC3VqIqcx-szsb0ohBKcQ2rPT4zlEuCszHp_zOT0-4_8_Plw" > </a>
                                  <div id="bookDetails" class=" col-md-6" *ngIf="update.actionText != ' started following  : '"   >
                                   <p> <a [routerLink]="['/book',update.book_id]" > {{ update. title }}</a>  <br>
                                       by {{ update.author_name}} <br></p>
                                      </div>
                                      <div class="col-md-6">
                                        <app-dropdown [bookId]='update.book_id' ></app-dropdown>
                                        <app-star id='stars'  [bookId]='update.book_id' [starsCount]="update.ratings_avg" [readOnly]="false" [shelf]="update.shelf"  ></app-star>
                                      </div>
                              </div>
                            </div>


                          </div>
                         <!--   <img  [src]="update.image_link">-->
                         <div class="choosePerson" *ngIf="update.actionText == ' started following  : '">
                           <b> {{update.name }} </b>{{ update.actionText }}
                           <a [routerLink]="['/myBooks',update.followed_id]">{{ update.followed_name }} </a>
                            <div class="image">
                              <img [src]="update.followed_image_link" >
                              </div>
                         </div>
                         <div class="action" *ngIf="update.update_type == 0 "  >
                            <b> {{update.name }}</b>  {{ update.actionText }} <small>  <app-star  [bookId]='update.book_id' [starsCount]="update.ratings_avg" [readOnly]="true" [shelf]="update.shelf"  ></app-star></small>
                            <div class="media">
                                <a [routerLink]="['/book',update.book_id]" >  <img id="bookUpdate" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcThCiiC3VqIqcx-szsb0ohBKcQ2rPT4zlEuCszHp_zOT0-4_8_Plw" > </a>
                                   <div id="bookDetails" class=" col-md-6"  >
                                    <p> <a [routerLink]="['/book',update.book_id]" > {{ update. title }}</a>  <br>
                                        by {{ update.author_name}} <br></p>
                                       </div>
                                       <div class="col-md-6">
                                         <app-dropdown  [bookId]='update.book_id' ></app-dropdown>
                                         <app-star id='stars'  [bookId]='update.book_id' [starsCount]="update.ratings_avg" [readOnly]="false" [shelf]="update.shelf"  ></app-star>
                                       </div>
                               </div>
                           </div>


                          </div>
                      </div>
                    </div>
                     <hr>
                  </div>

                        </div>
                        <div class="col-md-4"  >
                         <b> {{ selectedProfile.name }} IS FOLLOWING  </b>
                          <hr>
                          <tbody>
                            <tr *ngFor='let post of posts'>
                                <td>
                                  <img id="followerProfilepicture"  src="https://i.ytimg.com/vi/hm-mjjc1LoY/maxresdefault.jpg" >
                                  <!-- <img [src]="post.image_link"  id="followerProfilepicture"  >-->
                                   </td>
                                 <td>  <a [routerLink]="['/profile',post.id]">
                                   <!--<a id="followName" href="#/profile/{{post.id }}">--> {{ post.name }} </a>
                                </td>
                            </tr>
                          </tbody>

                        </div>
        </div>
    </div>

