.info{
  color: #B7673C ;
  margin-right: 40px;
}

#profilePicture {
 border-radius: 50%;
 width: 300px;
 height: 300px;
}
#followerProfilepicture{
width: 70px;
height: 70px;
padding: 10px;

}

.userBookshelves {
  color: #B7673C;
}

#firstContainer {
  margin-top: 30px;
}

#bookShelvesmore{
  margin-left: 700px;
  color: #B7673C;
  text-decoration-line: underline;
}

.userName{
  margin-top: 20px;
  font-weight: bold;

}
