.info{
  color: #B7673C ;
  margin-right: 40px;
}

.container{
  min-width: 1080px;
}

.moreUseractivity{
  color: #B7673C;
  font-size: 14px;
  margin-left: 100px;
  margin-top: 20px;
}

#stars{
  margin: 25px;
}
#profilePicture {
 border-radius: 50%;
 width: 300px;
 height: 300px;
}
#followerProfilepicture{
width: 65px;
height: 65px;
padding: 10px;
}
#followName{
  padding: 10%;
  color: black;
}

.userBookshelves {
  color: #B7673C;
}
#bookUpdate {
  width: 100px;
  height: 150px;
  margin-top: 10px;
}
#bookDetails p{
  margin-top: 20px;
}
#firstContainer {
  margin-top: 30px;
}

#bookShelvesmore{
  margin-left: 700px;
  color: #B7673C;
  text-decoration-line: underline;
}

#userNameprofile {
  margin-top: 20px;
  font-weight: bold;

}
