.mainContent {
    margin: 0px auto;
    text-align: left;
    width: 970px;
    background: #FFFFFF;
    font-size: 12px;
}

.mainContentFloat {
    float: left;
    width: 960px;
    margin-top: 15px;
    margin-left: 200px;
    font-size: 12px;
    min-height: 400px;
    background: #FFFFFF;
}

.leftContainer {
    float: left;
    width: 660px;
    padding-right: 10px;
    padding-left: 8px;
}

.writing {
    color: #333333;
    font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
    font-size: 14px;
    line-height: 18px;
}

#discoveryBox {
    clear: both;
    border-radius: 10px;
    padding: 15px 0 20px 0;
    background-color: #f4f2e9;
    text-align: left;
    margin-bottom: 60px;
}

#booksBox {
    clear: both;
    margin-top: 20px;
    height: 170px;
}

#pointLeft {
    float: left;
    margin: 0 10px 10px 0;
    width: 280px;
    font-size: 13px;
    margin-right: 40px;
    text-align: left;
}

#pointRight {
    float: left;
    margin: 0 10px 10px 0;
    width: 280px;
    font-size: 13px;
    text-align: left;
}

#Read {
    margin-top: 2.8%;
    margin-left: 45%;
    color: #8B4513;
    font-family: inherit;
    font-weight: bolder;
    font-size: -webkit-xxx-large;
}

#main {
    min-width: 1400px;
    margin: 0 auto;
    max-height: 1000px;
}

#head {
    background-color: black;
    height: 100px;
}

#title {
    height: 100%;
    background-color: #fcf5e6;
    min-width: 550px;
    width: 50%;
}

#signIn {
    height: 100%;
    background-color: #fcf5e6;
    min-width: 550px;
    width: 50%;
}

#signInForm {
    margin-top: 35px;
    margin-left: 50px;
}

#signUp {
    background-color: #fcf5e6;
    min-width: 700px;
    box-shadow: inset 10px 10px 10px #dddddd;
    border-bottom: 17px solid #f9f8f4
}

#nextBook {
    min-width: 500px;
    width: 60%;
    height: 100%;
}

#nextBookImg {
    width: 52%;
    height: 15%;
    margin-top: 10%;
    margin-left: 35%;
    overflow: hidden;
}

#signUpForm {
    min-width: 200px;
    width: 40%;
}

#suggestions {
    padding-top: 15px;
    width: 100%;
    text-align: center;
    padding-bottom: 25px;
    font-size: 12px;
}