
<h5 id="updates"> Updates </h5>

    
    <ul *ngFor="let update of updatess">
            <div class="container">
        <div class="media">
                
            <img class="avatar" src={{update.img_url}} alt="Generic placeholder image">
            <div class="media-body">
                    <div style="clear: both">
                <h5 class="mt-0"style="float: left" >{{update.name}}</h5>
          
                <h6 class="mt-0"style="float: left" id="action"> {{update.actionText}}</h6>
                <app-star  *ngIf="update.actionText == ' rated a book '"[starsCount]="update.rating" [readOnly]="true"></app-star>
            </div> 

            <div id="containerBook">
                    <div class="media mt-3" id="updateImage">
                        <a class="pr-3" href="#" *ngIf="update.actionText != ' started following  : '" >
                            <img src={{update.image_link}} alt="Generic placeholder image" style="float: left" >
                        </a>
                        <a class="pr-3" href="#"*ngIf="update.actionText == ' started following  : '"  >
                                <img src={{followed_image_link}}} alt="Generic placeholder image" style="float: left"   >
                            </a>
                        <div class="media-body">
                            <div *ngIf="update.actionText != ' started following  : '">
                            <h5 class="mt-0" style="display: inline" >{{update.title}}</h5>
                            
                            <h5 style="display: inline"> by {{update.author_name}}</h5>
                          
                            <app-dropdown > </app-dropdown>
                            <h4>rate it </h4>
                            
                            <app-star  [readOnly]="false"></app-star> 
                            <h4>{{update.description}}</h4>
                            </div>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
    </ul>
