<navbar></navbar>
<h5 id="updates"> Updates </h5>
 
    
    <ul *ngFor="let update of updatess">
            <div class="container" id="updateContainer">
        <div class="media">
             <a   href="Profile/{{update.user_id}}">
            <img class="avatar" src={{update.img_url}} alt="Generic placeholder image" >
              </a>
            <div class="media-body" >
                   
                <h5 class="mt-0"  >{{update.name}}</h5>
          
            <h6 class="mt-0" id="action"> {{update.actionText}}</h6>
                <app-star  *ngIf="update.actionText == ' rated a book '"[starsCount]="update.rating" [readOnly]="true"></app-star>
            
     
           
        
                <div class="media mt-3">
                        <a class="pr-3" href="book/{{update.book_id}}" *ngIf="update.actionText != ' started following  : '" >
                            <img src={{update.image_link}} alt="Generic placeholder image" style="float:'left'"  >
                        </a>
                        <a class="pr-3" href="/Profile/{{update.followed_id}}" *ngIf="update.actionText === ' started following  : '">
                                <img src={{update.followed_image_link}} alt="Generic placeholder image" style="float:'left'"   >
                            </a>
                        
                        <div  class="media-body">
                            <div  *ngIf="update.actionText != ' started following  : '">
                            <h5 class="mt-0"  >{{update.title}}<small><i>by {{update.author_name}}</i></small></h5>
                           
                          
                            <app-dropdown > </app-dropdown>
                            <div style="clear: both" >
                            <small style="float: 'left'">rate it </small>
                            <app-star  [readOnly]="false" style="float: 'left'"></app-star> 
                            </div>
                            <p>{{update.description}}</p>
                            </div>
                            <div *ngIf="update.actionText === ' started following  : '" >
                                <h5 >{{update.followed_name}}</h5> 
                                <button type="button" class="btn btn-primary" id="followButton">Follow {{update.followed_name}}</button>
                        </div>
                        </div>
                       
                 
              
            </div>
        </div>
    </div>
    </div>
    </ul>
