<div style="background-color: #f4f1ea; width:100%;height: 100%">

    <div class="row" style=" margin-left: 10%;     margin-bottom: 4%;">
        <div class="col-md-6" style="margin-top: 3%;">
            <h1 id="read"><a [routerLink]="['/home']">Readaholic</a></h1>
        </div>

    </div>
    <div *ngIf=confirmedToken class="contents-box">
        <p class="intro">Reset your password</p>
        <br>
        <div *ngIf="errPass" style="color: red;    font-size: 14px;">
            {{errText}}
        </div>
        <form class="form-inline " [formGroup]="form" id="resetForm">
            <div class="column" style="margin-left: 33%;">

                <div class="form-group row">

                    <div class="col-md-10">
                        <div *ngIf="password.invalid&&(password.dirty||password.touched)" style="color: red;    font-size: 14px;">
                            *password must be at least 5 characters long.
                        </div>
                        <input type="password" class="form-control" placeholder="New password" formControlName="password" required>
                    </div>
                </div>
                <br>
                <div class="form-group row">


                    <div class="col-md-10">
                        <div *ngIf="password_confirmation.invalid&&(password_confirmation.dirty||password_confirmation.touched)" style="color: red;font-size: 14px;">
                            *password must be at least 5 characters long.
                        </div>
                        <input type="password" class="form-control" placeholder="Confirm password" formControlName="password_confirmation" required>
                    </div>
                </div>
                <br>
                <button id="saveButton" type="submit" class="btn btn-primary" style="background-color:	#f4f1ea; color: black;" (click)="save()">Save passsword</button>
            </div>
        </form>
    </div>

    <div *ngIf=verify class="contents-box">
        <p class="intro">Verifying your Email , please wait....</p>
        <br>


    </div>
    <div *ngIf=errGenral class="contents-box">
        <p class="intro">{{text}}</p>
        <br>


    </div>
</div>